# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Humphrey\Desktop\Programming Stuffs\FLASK STUDENT INFO WITH DEPENDENT DROP DOWN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
