{% extends "layout.html" %}
{% block body %}
<br>
<div class="text-right col-sm-12">
<a href="/full_list/">
  <button type="button" class="btn btn-warning btn-flat"title="List">VIEW INFORMATION</button>
</a>
<a href="/add/">
  <button type="button" class="btn btn-primary btn-flat" title="Add information">ADD NEW INFORMATION</button>
</a>
</div>
<center>
   <section class="content-header">
    {% for message in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible col-md-7">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
      {{ message }}
    </div>
    {% endfor%}
  </section>
  <br>
    <div class="body">
      <div class="container">
        <input class="form-control mb-4 card card-body text-warning" id="tableSearch" type="text" placeholder="🔍 Type something to search table">
      <table class="table table-hover table-primary ">
        <thead class="thead-dark" align="center">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">ID Number</th>
            <th scope="col">Year Level</th>
            <th scope="col">Gender</th>
            <th scope="col">Course</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="myTable">
          {% if students|length == 0 %}
          <tr>
            <td>No Data</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% else %}
          <tr>
            {% for row in students %}
            <td class="text-primary">{{ row[1] }} {{ row[2] }}</td>
            <td class="text-primary">{{ row[3] }}</td>
            <td class="text-primary">{{ row[4] }}</td>
            <td class="text-primary">{{ row[5] }}</td>
            <td class="text-primary">{{ row[8] }}</td>
            <td align="center">
              <a href="/update/{{ row[0]}}">
                <button type="button" class="btn btn-primary" title="Update">UPDATE</button>
              </a>
              <a href="/delete_info/{{ row[0]}}">
                <button type="button" class="btn btn-danger btn-flat" title="Delete" onclick="return confirm('Are You Sure To Delete ID Number {{row[3]}}?')">DELETE</button>
              </a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  </div>
</center>

{% endblock %}